:root {
  --header-bg: #243641;
  --header-sl: #2fa79d;
  --sidebar-bg: #19262e;
  --text-white: #ffffff;
  --text-gray: #a2b1b9;
  --button-bg: #2fa79d;
  --button-hv: #2fd9bb;
}

.header {
	padding: 20px 20px;
	box-sizing: border-box;
	height: 80px;
	width: 100%;
	background-color: var(--header-bg);
}

.header .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header .header-limiter h1 a:before {
   content: "Spring Boot";
}

.header .header-limiter a {
	color: var(--text-white);
	text-decoration: none;
}

.header .header-limiter h1 a span:before {
   content: "  Demo Application";
}

.header .header-limiter h1 span {
	color: var(--text-gray);
}

.header .header-limiter nav {
	font: 15px Arial, Helvetica, sans-serif;
	line-height : 40px;
	float: center;
	line-height: 40px;
}

.header .header-limiter nav a {
	padding: 0 5px;
	opacity: 0.9;
	color: var(--text-gray);
	line-height: 1;
}

.header .header-limiter nav a.selected {
	background-color: var(--header-sl);
	color: var(--text-white);
	border-radius: 3px;
	padding: 6px 10px;
}

@media all and (max-width: 600px) {
	.header {
		padding: 20px 0;
		height: 85px;
	}
	.header .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}
	.header .header-limiter nav {
		line-height: 1;
		float: none;
	}
	.header .header-limiter nav a {
		font-size: 13px;
	}
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	margin-top: 80px;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--sidebar-bg);
	overflow-x: hidden;
}

.sidenav a {
	font: 15px Arial, Helvetica, sans-serif;
	color: var(--text-gray);
	padding: 16px;
	text-decoration: none;
	display: block;
}

.sidenav a:hover {
	color: var(--text-white);
}

.sidenav a.selected {
	color: var(--text-white);
}

.content {
	text-align: center;
	margin-left: 200px;
	padding-left: 20px;
}

input[type=submit] {
    border: 1px solid var(--button-bg);
    color: var(--text-white);
    background: var(--button-bg);
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=submit]:hover {
    border: 1px solid var(--button-hv);
    background: var(--button-hv);
}

input[type=reset] {
    border: 1px solid var(--button-bg);
    color: var(--text-white);
    background: var(--button-bg);
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=reset]:hover {
    border: 1px solid var(--button-hv);
    background: var(--button-hv);
}

body {
	margin: 0;
	padding: 0;
}