<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>

<body>
	<header class="header">
		<div class="header-limiter">
			<h1>
				<a href="#"><span/>
				</a>
			</h1>

			<nav>
				<a href="/">Home</a>
				<a href="/guestbook-add" class="selected">Guestbook Application</a>
			</nav>
		</div>
	</header>
  
	<div>
		<div class="sidenav">
			<a href="/guestbook-add">Add Guest</a>
			<a href="/guestbook-view">View History</a>
			<a href="/guestbook-clear" class="selected">Clear History</a>
		</div>

		<div class="content">
			<h1>Clear guestbook history?</h1>
			<form action="#" th:action="@{/guestbook-clear}" method="post">
				<p>
					<input type="submit" value="Clear" />
				</p>
			</form>
		</div>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>