<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>

<body>
	<header class="header">
		<div class="header-limiter">
			<h1>
				<a href="#"><span/>
				</a>
			</h1>

			<nav>
				<a href="/">Home</a>
				<a href="/guestbook-add">Guestbook (Redis)</a>
				<a href="/notes-add" class="selected">Notes (MySQL)</a>
			</nav>
		</div>
	</header>
  
	<div>
		<div class="sidenav">
			<a href="/notes-add">Add Note</a>
			<a href="/notes-view" class="selected">View Notes</a>
			<a href="/notes-clear">Clear Notes</a>
		</div>

		<div class="content">
			<h1>View all notes</h1>
    			<p th:text="${notes}" />
		</div>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>